
<div class="container-fluid">
    <div class="row ">
        <div class="col-xs-12 col-sm-4">
            <div class="imagePosition">
                <img class="img img-responsive profile" ng-src="https://image.tmdb.org/t/p/w300/{{model.movie.poster_path}}">
            </div>

        </div>
        <div class="col-xs-12 col-sm-8 movieContent">
            <h2 class=""  >{{model.movie.title}}</h2>
            <div class="col-xs-12 col-sm-12">
                <h4 ng-repeat="genre in model.movie.genres">
                    <div class=" col-xs-2 label label-default label-as-badge rightMargin">
                        {{genre.name}}
                    </div>
                </h4>
                <h4>
                    <span class="glyphicon glyphicon-time goUp" aria-hidden="true"></span>&nbsp{{model.movie.runtime}} mins</h4>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div class="col-md-4">
                    <h4>IMDB Rating</h4>
                    <uib-rating ng-model="model.movie.criticsRating" max=5 read-only="true" titles="['one','two','three','four','five']"
                                aria-labelledby="default-rating" ng-class="'rating-star'">
                    </uib-rating>
                </div>

                <div class="col-md-4" ng-if="model.released">
                    <h4>User Rating</h4>
                    <uib-rating ng-model="model.movie.usersRating" max=5
                                read-only="model.isReadonly || model.movie.ratedByUsers.indexOf(model.currentUser._id) > -1"
                                on-hover="model.hoveringOver(value)" on-leave="overStar = null"
                                titles="['one','two','three','four','five']" ng-click="model.addRating()"
                                aria-labelledby="default-rating" ng-class="'rating-star changing-star'">
                    </uib-rating>
                    <span class="label" ng-class="{'label-warning': model.percent<30, 'label-info': model.percent>=30 && model.percent<70, 'label-success': model.percent>=70}"
                          ng-if="model.overStar && !model.isReadonly">{{model.percent}}%</span>
                </div>

                <div class="col-md-12">
                    <h4>Release Date:</h4>
                    <h4 ng-bind="model.movie.release_date | date: 'mediumDate'"></h4>
                </div>
                <div class="col-md-12">
                    <h4>PLOT</h4>
                    <div>{{model.movie.overview}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h3 class="page-header">Actors</h3>
            <h2></h2>
            <ul class="list-inline">
                <li class="w92" ng-repeat="actor in model.movie.credits.cast" ng-if="actor.profile_path">
                    <p>
                        <img ng-src="https://image.tmdb.org/t/p/w92{{actor.profile_path}}"></p>
                    <a class="title">{{actor.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" ng-if="model.released">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1" ng-if="model.movie.ratings.length>0">
            <h3 class="page-header">Users who rated this movie</h3>
            <ul class="list-unstyled">
                <li ng-repeat="rating in model.movie.ratings">
                    <span style="font-size:1.5em;" class=" glyphicon glyphicon-user" aria-hidden=true>
                        <a href="#/profile/{{rating.userId}}">{{rating.username}}</a></span><h4></h4>
                </li>
            </ul>
        </div>
    </div>
    <div class="row col-xs-12 col-sm-10 col-sm-offset-1" ng-if="model.released">
        <div >
            <div id="review2" class="tab-pane">
                <h3 class="page-header">Audience Reviews</h3>
                <ul class="list-unstyled" ng-if="model.movie.userReviews.length>0">
                    <li ng-repeat="userReview in model.movie.userReviews">
                        <span style="font-size:1.5em;" class=" glyphicon glyphicon-user" aria-hidden=true>
                        <a href="#/profile/{{userReview.userId}}">{{userReview.username}}</a></span>
                        <p>{{userReview.text}}</p>
                </ul>
                <div class="form-group">
                    <textarea ng-model="model.movie.reviewContent"  rows="2"
                              ng-readonly="model.isReadonly || model.movie.reviewedByUsers.indexOf(model.currentUser._id) > -1"
                              class="form-control" placeholder="{{model.reviewMsg}}"></textarea>
                    <button  ng-click="model.addReview()" class="btn btn-primary btn-block postButtons"
                            ng-disabled="model.isReadonly|| model.movie.reviewedByUsers.indexOf(model.currentUser._id) > -1">
                        Post Review</button>
                </div>
                <br/>

            </div>
            <div id="review1" class="tab-pane" ng-if="model.movie.reviews.results.length>0">
                <h3 class="page-header">Critic Reviews</h3>
                <ul class="list-unstyled">
                    <li ng-repeat="review in model.movie.reviews.results">
                        <span style="font-size:1.5em;" class="glyphicon glyphicon-user" aria-hidden=true>
                            <span ng-if="review.userId">
                                <a href="#/profile/{{review.userId}}">{{review.author}}</a>
                            </span>
                            <span ng-if="!review.userId">
                                <label>{{review.author}}</label>
                            </span>
                        </span>
                        <p >{{review.content}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
