<div class="col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 main">
    <h1 class="page-header">Search Results for {{model.userquery}}</h1>
    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 col-md-4 placeholder" ng-repeat="user in model.users">
            <div class="thumbnail">
                <div class="embed-responsive embed-responsive-4by3">
                    {{user.username}}

                    </a>
                </div>
             </div>
        </div>
    </div>
</div>